<%= form_for(@book) do |f| %>
  <%if @book.errors.any? %>
    <%=f.error_messages %>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_field :comments %>
  </div>
  <div class="field">
    <%= f.label :subject_id %><br />
    <%= f.collection_select(:subject_id, @subjects,:id,:subject_name,{ :include_blank => true }) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
