
<% title "Books" %>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Author:</b>

  <%= @book.author %>
</p>

<p>
  <b>Price:</b>
  <%= @book.price %>
</p>

<p>
  <b>Comments:</b>
  <%= @book.comments %>
</p>

<p>
  <b>Subject:</b>
   <%= @subject.subject_name %>
</p>

<p>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to "Destroy", @book, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back', books_path %>
</p>